<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Novo Tópico</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Criar Novo Tópico</h1>
  <form method="post" action="/new">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    <br>
    <input type="submit" value="Salvar">
  </form>
  <a href="/" class="action-link">Voltar para a lista</a>
</body>
</html>